.container {
  max-width: 600px;
}

.btn {
  background: crimson;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
}

.username {
  font-weight: bold;
}

.time {
  font-size: 0.7em;
  color: #999;
}